---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '../components/AboutUs.astro';
import Classes from '../components/Classes.astro';
import CourseDetails from '../components/CourseDetails.astro';
import CourseDuration from '../components/CourseDuration.astro';
import Founders from '../components/Founders.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout title="Little Leaders Academy — LiLe">
  <main>
    <Hero />
    <AboutUs />
    <Classes />
    <CourseDuration />
    <CourseDetails />
    <Founders />
    <Footer />
  </main>
</Layout>
